@import url("root.css");

button:hover {
	background-color: var(--hoverBlue);
	cursor: pointer;
}

button:focus {
	outline: solid var(--inputFont) 2px;
}

.social-media a:hover,
.social-media a:focus {
	background-color: var(--blue);
	outline: none;
}

.contact:hover,
.contact:focus {
	background-color: var(--linkHover);
	outline: solid var(--blue) 2px;
}
