:root {
	--background: #9ec4fb;
	--blueBackground: #02044a;
	--white: #ffffff;
	--blue: #0c75ff;
	--paragraph: #a7a8bf;
	--grayOutline: #dfdfe8;
	--darkGray: #a5a7bf;
	--inputFont: #131556;
	--activeBlue: #0047a3;
	--hoverBlue: #0667e6;
	--textareaback: #f9f9fb;
	--linkHover: #030d58;
}
